.wrapper {
  /*****************************************************************************/
  /*****************************************************************************/ }
  .wrapper .page-gallery {
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .wrapper .page-gallery .row {
      margin: 0;
      /*****************************************************************************/
      /*****************************************************************************/
      /*****************************************************************************/
      /*****************************************************************************/ }
      .wrapper .page-gallery .row .text-box {
        background-color: white;
        font-weight: bold; }
      .wrapper .page-gallery .row div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        outline: 2px solid white;
        height: 400px;
        /*****************************************************************************/
        /*****************************************************************************/
        /*****************************************************************************/
        /*****************************************************************************/ }
        .wrapper .page-gallery .row div div {
          outline: none; }
        .wrapper .page-gallery .row div p {
          font-size: 1.5rem;
          padding-top: 2rem; }
        .wrapper .page-gallery .row div .hover-caption {
          display: none;
          padding: 0; }
          .wrapper .page-gallery .row div .hover-caption p {
            font-size: 1rem; }
        .wrapper .page-gallery .row div:hover .hover-caption {
          opacity: 2.0; }
        .wrapper .page-gallery .row div .hover-caption {
          background-color: #695D4B;
          color: white;
          display: table;
          left: 0;
          opacity: 0;
          position: absolute;
          width: 100%;
          transition: all 1s; }
          .wrapper .page-gallery .row div .hover-caption p {
            display: table-cell;
            font-size: 3rem;
            text-align: center;
            vertical-align: middle; }
        .wrapper .page-gallery .row div .click-caption {
          display: table;
          left: 0;
          outline: 0;
          position: absolute;
          top: 94%;
          width: 100%;
          transition: all 0.5s; }
          .wrapper .page-gallery .row div .click-caption:hover {
            top: 90%; }
          .wrapper .page-gallery .row div .click-caption div {
            outline: none; }
          .wrapper .page-gallery .row div .click-caption .toggle-caption {
            color: white;
            left: 1rem;
            top: 0; }
            .wrapper .page-gallery .row div .click-caption .toggle-caption span {
              left: 1rem;
              position: absolute; }
            .wrapper .page-gallery .row div .click-caption .toggle-caption .caption-info {
              left: 3rem; }
          .wrapper .page-gallery .row div .click-caption .caption-text {
            background-color: #695D4B;
            color: white;
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
        .wrapper .page-gallery .row div .show {
          top: 0 !important; }
        .wrapper .page-gallery .row div .hide {
          top: 94% !important; }
      .wrapper .page-gallery .row .box-1 {
        background-image: url("../assets/gallery-page/10.jpg"); }
      .wrapper .page-gallery .row .box-2 {
        background-image: url("../assets/gallery-page/2.jpg"); }
      .wrapper .page-gallery .row .box-3 {
        background-image: url("../assets/gallery-page/3.jpg"); }
      .wrapper .page-gallery .row .box-4 {
        background-image: url("../assets/gallery-page/1.jpg"); }
      .wrapper .page-gallery .row .box-6 {
        background-image: url("../assets/gallery-page/6.jpg"); }
      .wrapper .page-gallery .row .box-7 {
        background-image: url("../assets/gallery-page/4.jpg"); }
      .wrapper .page-gallery .row .box-8 {
        background-image: url("../assets/gallery-page/8.jpg"); }
      .wrapper .page-gallery .row .box-9 {
        background-image: url("../assets/gallery-page/9.jpg"); }
      .wrapper .page-gallery .row .box-10 {
        background-image: url("../assets/gallery-page/7.jpg"); }
      .wrapper .page-gallery .row .glyphicon-zoom-in {
        display: block;
        background-color: #695D4B;
        padding: 1rem;
        width: 30%; }
        .wrapper .page-gallery .row .glyphicon-zoom-in::after {
          content: "In"; }
      .wrapper .page-gallery .row .glyphicon-zoom-out {
        display: none;
        background-color: #695D4B;
        padding: 1rem;
        width: 30%; }
        .wrapper .page-gallery .row .glyphicon-zoom-out::after {
          content: "Out"; }
      .wrapper .page-gallery .row .expand-image {
        /*
        position: absolute;
        width: 100%;
        max-width: 1280px;
        max-height: 768px;
        height: 100%;
        padding: 0;
        margin: 0;
        */
        max-width: 100%;
        flex: 0 0 100%;
        height: 600px;
        transition: all 1s; }
        .wrapper .page-gallery .row .expand-image .expand-caption {
          height: 100%;
          outline: none;
          background-color: rgba(0, 0, 0, 0) !important; }
        .wrapper .page-gallery .row .expand-image .glyphicon-zoom-in {
          display: none; }
        .wrapper .page-gallery .row .expand-image .glyphicon-zoom-out {
          display: block; }
  .wrapper .footer .row .scrollTop:hover {
    cursor: pointer; }

@media only screen and (min-width: 576px) {
  .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption {
    padding-bottom: 1rem; }
  .wrapper .page-gallery .row div p {
    font-size: 2rem; } }
@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none; }

  .wrapper .normal-nav {
    display: flex; }
    .wrapper .normal-nav .brand .title h1 {
      font-size: 2.9rem;
      padding-top: 1rem; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul li a {
      display: table-cell;
      height: 5rem;
      vertical-align: middle; }
  .wrapper .page-header {
    padding-top: 0; }
    .wrapper .page-header .row .main-header {
      padding-top: 2rem; }
      .wrapper .page-header .row .main-header h1 {
        font-size: 3rem; }
  .wrapper .categories-wrapper .col .row a {
    box-shadow: 0 0 0 2px white;
    margin-bottom: 0;
    min-height: 300px; }
  .wrapper .sidebar-1 .sidebar-content:hover {
    box-shadow: 0px 2px 0px 0px white; }
  .wrapper .page-gallery .row div p {
    font-size: 1.1rem; }

  .footer {
    padding-bottom: 5rem; } }
@media only screen and (max-width: 991px) {
  .wrapper .gallery-link-area-wrapper .gallery-links-container {
    margin-bottom: 1rem; } }
@media only screen and (min-width: 992px) {
  .wrapper .normal-nav .brand .title h1 {
    font-size: 3.4rem;
    padding-top: 3rem; }
  .wrapper .slider-area-wrapper {
    height: 500px; }
  .wrapper .sidebar-1 h2 {
    font-size: 2rem; }
  .wrapper .sidebar-1 .sidebar-content {
    padding: 0 0 0 0.5rem; }
    .wrapper .sidebar-1 .sidebar-content h3 {
      font-size: 2rem; }
    .wrapper .sidebar-1 .sidebar-content p {
      font-size: 1.4rem; }
  .wrapper .page-header .row .sub-header .row .col span {
    visibility: visible; }
  .wrapper .sidebar-1 {
    padding-top: 1rem; }
    .wrapper .sidebar-1 .row {
      margin: 0; }
      .wrapper .sidebar-1 .row .sidebar-content:hover {
        box-shadow: -2px 0px 0px 0px white; }
  .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-header .row .col-4 {
    padding-top: 5rem; }
  .wrapper .sidebar-2 {
    padding-top: 4.3rem; }
  .wrapper .page-gallery .row div .expand-caption {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    height: 3rem;
    outline: none; }
    .wrapper .page-gallery .row div .expand-caption:hover {
      cursor: pointer; }
  .wrapper .page-gallery .row div p {
    font-size: 1.3rem; } }
@media only screen and (min-width: 1200px) {
  .wrapper .normal-nav {
    display: flex; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul li a {
      box-shadow: 0 0 0 0 white;
      display: flex;
      vertical-align: middle;
      height: auto; } }
@media only screen and (min-width: 1366px) {
  .wrapper {
    max-width: 1300px; }
    .wrapper .slider-area-wrapper {
      height: 500px; }
      .wrapper .slider-area-wrapper .carousel-item {
        height: 500px;
        max-height: inherit; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul {
      right: 3rem; }
    .wrapper .categories-wrapper .col .row a {
      box-shadow: 0 0 0 2px white;
      margin-bottom: 0;
      height: 300px; }
    .wrapper .page-gallery .row div p {
      font-size: 1.6rem; }
    .wrapper .sidebar-1 {
      padding-top: 1rem; }
      .wrapper .sidebar-1 .sidebar-content p {
        font-size: 1.5rem; }
    .wrapper .sidebar-2 {
      padding-top: 5rem; }
      .wrapper .sidebar-2 .sidebar-content p {
        font-size: 1.5rem; } }
@media only screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1800px; }
    .wrapper .slider-area-wrapper {
      height: 555px; }
      .wrapper .slider-area-wrapper .carousel-item {
        height: 555px;
        max-height: inherit; }
    .wrapper .sidebar-1 h2 {
      font-size: 3.5rem; }
    .wrapper .sidebar-1 .sidebar-content h3 {
      font-size: 2.5rem; }
    .wrapper .sidebar-1 .sidebar-content p {
      font-size: 2rem; } }
@media only screen and (min-width: 2560px) {
  .wrapper {
    max-width: 2300px; }
    .wrapper .slider-area-wrapper {
      height: 740px; }
      .wrapper .slider-area-wrapper .carousel-item {
        height: 740px;
        max-height: inherit; } }
@media only screen and (min-width: 3199px) {
  .wrapper {
    max-width: 2800px; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul li a {
      font-size: 3rem; }
    .wrapper .page-header .row .main-header h5 {
      font-size: 3.5rem;
      line-height: 6rem; }
    .wrapper .page-header .row .main-header h4 {
      font-size: 4rem;
      line-height: 6rem; }
    .wrapper .page-header .row .main-header h1 {
      font-size: 5rem; }
    .wrapper .page-header .row .sub-header div {
      line-height: 8rem; }
      .wrapper .page-header .row .sub-header div h4 {
        font-size: 4rem; }
      .wrapper .page-header .row .sub-header div h3 {
        font-size: 4.5rem; }
    .wrapper .page-header .row .sub-header .row .col a {
      font-size: 3.5rem; }
    .wrapper .slider-area-wrapper {
      height: 100rem; }
      .wrapper .slider-area-wrapper .carousel-item {
        height: 100rem; }
        .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption {
          height: 15rem; }
          .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption h1 {
            font-size: 5rem; }
          .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption p {
            font-size: 3rem; }
    .wrapper .sidebar-1 .sidebar-content {
      padding: 3rem; }
      .wrapper .sidebar-1 .sidebar-content p {
        font-size: 3rem; }
    .wrapper .sidebar-1 h2 {
      font-size: 5.5rem; }
    .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link h2 {
      font-size: 5.5rem; }
    .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link h4 {
      font-size: 4rem; }
    .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link p {
      font-size: 3rem; }
    .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link a span {
      font-size: 3rem; }
    .wrapper .gallery-link-area-wrapper .sidebar-2 h2 {
      font-size: 5.5rem; }
    .wrapper .gallery-link-area-wrapper .sidebar-2 .sidebar-content {
      padding: 3rem; }
      .wrapper .gallery-link-area-wrapper .sidebar-2 .sidebar-content h3 {
        font-size: 4.5rem; }
      .wrapper .gallery-link-area-wrapper .sidebar-2 .sidebar-content p {
        font-size: 3rem; }
      .wrapper .gallery-link-area-wrapper .sidebar-2 .sidebar-content h5 {
        font-size: 3.5rem; }
    .wrapper .categories-wrapper .col .row a .category-caption h3 {
      font-size: 3.5rem; }
    .wrapper .categories-wrapper .col .row a .category-caption h4 {
      font-size: 3rem; }
    .wrapper .page-gallery .row div .click-caption {
      top: 88%; }
      .wrapper .page-gallery .row div .click-caption .toggle-caption span {
        font-size: 3rem; }
      .wrapper .page-gallery .row div .click-caption .caption-text p {
        font-size: 3rem; }
    .wrapper .page-gallery .row .text-box p {
      font-size: 2.5rem; }

  .footer .row div p {
    font-size: 4rem; }

  .scroll-to-top-btn {
    font-size: 4rem;
    width: 30rem; } }

/*# sourceMappingURL=gallery-page-styles.css.map */
