.wrapper .page-header {
  padding-top: 0rem; }
  .wrapper .page-header .row {
    background-color: #ff3d3d;
    margin: 0; }
    .wrapper .page-header .row div {
      color: white;
      line-height: 4rem;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .wrapper .page-header .row div h1 {
        font-size: 5rem; }
      .wrapper .page-header .row div h2,
      .wrapper .page-header .row div h3,
      .wrapper .page-header .row div h4,
      .wrapper .page-header .row div h5 {
        line-height: 4rem; }
    .wrapper .page-header .row .gallery-main-header {
      text-align: center; }
    .wrapper .page-header .row .gallery-sub-header .row {
      padding-top: 0; }
      .wrapper .page-header .row .gallery-sub-header .row .col a {
        box-shadow: 0px 0px 0px 0px white;
        color: white;
        font-size: 1.5rem;
        transition: color 3s;
        transition: box-shadow .1s linear; }
        .wrapper .page-header .row .gallery-sub-header .row .col a:hover {
          box-shadow: 0px 2px 0px 0px; }
        .wrapper .page-header .row .gallery-sub-header .row .col a:active {
          box-shadow: 0px 2px 0px 0px;
          background-color: #323b44;
          color: white; }
      .wrapper .page-header .row .gallery-sub-header .row .col a {
        background-color: white;
        color: #323b44;
        padding: 1rem;
        transition: all 1s; }
        .wrapper .page-header .row .gallery-sub-header .row .col a:hover {
          text-decoration: none;
          background-color: #323b44;
          color: white; }
      .wrapper .page-header .row .gallery-sub-header .row .col span {
        visibility: hidden; }
.wrapper .page-gallery {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .wrapper .page-gallery .row {
    margin: 0; }
    .wrapper .page-gallery .row .text-box {
      background-color: white;
      font-weight: bold; }
    .wrapper .page-gallery .row div {
      outline: 2px solid white;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .wrapper .page-gallery .row div div {
        outline: none; }
      .wrapper .page-gallery .row div p {
        font-size: 1.5rem;
        padding-top: 2rem; }
      .wrapper .page-gallery .row div .hover-caption {
        display: none;
        padding: 0; }
        .wrapper .page-gallery .row div .hover-caption p {
          font-size: 1rem; }
      .wrapper .page-gallery .row div:hover .hover-caption {
        opacity: 2.0; }
      .wrapper .page-gallery .row div .hover-caption {
        background-color: #ff3d3d;
        color: white;
        display: table;
        left: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        transition: all 1s; }
        .wrapper .page-gallery .row div .hover-caption p {
          display: table-cell;
          font-size: 3rem;
          text-align: center;
          vertical-align: middle; }
      .wrapper .page-gallery .row div .click-caption {
        display: table;
        left: 0;
        outline: 0;
        position: absolute;
        top: 94%;
        width: 100%;
        transition: all 0.5s; }
        .wrapper .page-gallery .row div .click-caption:hover {
          top: 90%; }
        .wrapper .page-gallery .row div .click-caption div {
          outline: none; }
        .wrapper .page-gallery .row div .click-caption .toggle-caption {
          color: white;
          left: 1rem;
          top: 0; }
          .wrapper .page-gallery .row div .click-caption .toggle-caption span {
            left: 1rem;
            position: absolute; }
          .wrapper .page-gallery .row div .click-caption .toggle-caption .caption-info {
            left: 3rem; }
        .wrapper .page-gallery .row div .click-caption .caption-text {
          background-color: #ff3d3d;
          color: white;
          display: table-cell;
          text-align: center;
          vertical-align: middle; }
      .wrapper .page-gallery .row div .show {
        top: 0 !important; }
      .wrapper .page-gallery .row div .hide {
        top: 94% !important; }
    .wrapper .page-gallery .row .box-1 {
      background-image: url("/assets/gallery-page/10.jpg"); }
    .wrapper .page-gallery .row .box-2 {
      background-image: url("/assets/gallery-page/2.jpg"); }
    .wrapper .page-gallery .row .box-3 {
      background-image: url("/assets/gallery-page/3.jpg"); }
    .wrapper .page-gallery .row .glyphicon-zoom-in {
      display: block; }
    .wrapper .page-gallery .row .glyphicon-zoom-out {
      display: none; }
    .wrapper .page-gallery .row .expand-image {
      /*
      position: absolute;
      width: 100%;
      max-width: 1280px;
      max-height: 768px;
      height: 100%;
      padding: 0;
      margin: 0;
      */
      max-width: 100%;
      flex: 0 0 100%;
      height: 600px;
      transition: all 1s; }
      .wrapper .page-gallery .row .expand-image .expand-caption {
        height: 100%;
        outline: none;
        background-color: rgba(0, 0, 0, 0) !important; }
      .wrapper .page-gallery .row .expand-image .glyphicon-zoom-in {
        display: none; }
      .wrapper .page-gallery .row .expand-image .glyphicon-zoom-out {
        display: block; }
    .wrapper .page-gallery .row .box-4 {
      background-image: url("/assets/gallery-page/1.jpg"); }
    .wrapper .page-gallery .row .box-6 {
      background-image: url("/assets/gallery-page/6.jpg"); }
    .wrapper .page-gallery .row .box-7 {
      background-image: url("/assets/gallery-page/4.jpg"); }
    .wrapper .page-gallery .row .box-8 {
      background-image: url("/assets/gallery-page/8.jpg"); }
    .wrapper .page-gallery .row .box-9 {
      background-image: url("/assets/gallery-page/9.jpg"); }
    .wrapper .page-gallery .row .box-10 {
      background-image: url("/assets/gallery-page/7.jpg"); }
.wrapper .footer .row .scrollTop:hover {
  cursor: pointer; }

@media only screen and (min-width: 576px) {
  .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption {
    padding-bottom: 1rem; }
  .wrapper .page-gallery .row div p {
    font-size: 2rem; } }
@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none; }

  .wrapper .normal-nav {
    display: flex; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul li a {
      box-shadow: 0px 0px 0px 2px white;
      display: table-cell;
      height: 5rem;
      vertical-align: middle; }
  .wrapper .page-header {
    padding-top: 0; }
    .wrapper .page-header .row h1 {
      font-size: 5rem; }
  .wrapper .page-gallery .row div p {
    font-size: 1.1rem; } }
@media only screen and (max-width: 991px) {
  .wrapper .gallery-link-area-wrapper .gallery-links-container {
    margin-bottom: 1rem; } }
@media only screen and (min-width: 992px) {
  .wrapper .slider-area-wrapper {
    height: 500px; }
  .wrapper .page-header .row .gallery-sub-header .row .col span {
    visibility: visible; }
  .wrapper .page-gallery .row div .expand-caption {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    height: 3rem;
    outline: none; }
    .wrapper .page-gallery .row div .expand-caption:hover {
      cursor: pointer; }
  .wrapper .page-gallery .row div p {
    font-size: 1.3rem; } }
@media only screen and (min-width: 1200px) {
  .wrapper .normal-nav {
    display: flex; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul li a {
      box-shadow: 0px 0px 0px 0px white;
      display: flex;
      vertical-align: middle;
      height: auto; } }
@media only screen and (min-width: 1366px) {
  .wrapper {
    max-width: 1300px; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul {
      right: 3rem; }
    .wrapper .page-gallery .row div p {
      font-size: 1.6rem; } }
@media only screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1800px; } }
@media only screen and (min-width: 2560px) {
  .wrapper {
    max-width: 2300px; } }

/*# sourceMappingURL=gallery-page-styles.css.map */
