@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway",sans-serif; }

a,
p {
  font-family: "Lato", sans-serif; }

.wrapper {
  background-color: white;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }
  .wrapper .normal-nav {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/header.jpg");
    background-position: bottom;
    display: none;
    height: 40vh;
    margin: 0;
    margin-bottom: 1rem; }
    .wrapper .normal-nav .brand {
      padding: 0; }
      .wrapper .normal-nav .brand .title {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        min-height: 100px;
        position: absolute;
        width: 100%;
        margin: 0; }
        .wrapper .normal-nav .brand .title h1 {
          color: white;
          margin: 0;
          padding: 3rem 0 0 3rem;
          position: absolute; }
    .wrapper .normal-nav .normal-nav-container {
      padding-top: 3.5rem; }
      .wrapper .normal-nav .normal-nav-container .navbar {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        min-height: 100px;
        position: absolute;
        width: 100%;
        right: 0; }
        .wrapper .normal-nav .normal-nav-container .navbar div ul {
          position: absolute; }
          .wrapper .normal-nav .normal-nav-container .navbar div ul li {
            padding-left: 1.5rem; }
            .wrapper .normal-nav .normal-nav-container .navbar div ul li a {
              box-shadow: 0px 0px 0px 0px white;
              color: white;
              font-size: 1.5rem;
              transition: color 3s;
              transition: box-shadow .1s linear; }
              .wrapper .normal-nav .normal-nav-container .navbar div ul li a:hover {
                box-shadow: 0px 2px 0px 0px; }
              .wrapper .normal-nav .normal-nav-container .navbar div ul li a:active {
                box-shadow: 0px 2px 0px 0px;
                background-color: #323b44;
                color: white; }
  .wrapper .slider-area-wrapper {
    margin: 0;
    margin-bottom: 1rem; }
    .wrapper .slider-area-wrapper .slider {
      padding: 0; }
      .wrapper .slider-area-wrapper .slider .col {
        padding: 0; }
      .wrapper .slider-area-wrapper .slider .glyphicon {
        position: absolute;
        bottom: 30px;
        top: auto; }
    .wrapper .slider-area-wrapper .carousel-indicators {
      display: none; }
    .wrapper .slider-area-wrapper .carousel-item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      min-height: 400px;
      max-height: 500px;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      -webkit-backface-visibility: visible;
      backface-visibility: visible; }
      .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid white;
        left: 0;
        right: 0;
        padding-left: 1rem;
        padding-right: 1rem; }
        .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption ul {
          list-style-type: none; }
        .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption .caption-button {
          border-top: 1px solid white;
          text-align: right;
          float: right;
          width: 150px; }
          .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption .caption-button a {
            color: white; }
            .wrapper .slider-area-wrapper .carousel-item .container .carousel-caption .caption-button a:hover {
              text-decoration: underline; }
    .wrapper .slider-area-wrapper .slider-image-1 {
      background-image: url("/assets/1.jpg"); }
    .wrapper .slider-area-wrapper .slider-image-2 {
      background-image: url("/assets/1.jpg"); }
    .wrapper .slider-area-wrapper .slider-image-3 {
      background-image: url("/assets/1.jpg"); }
  .wrapper .sidebar-1 {
    background-color: #323b44;
    box-shadow: 0px 0px 0px 2px white;
    color: white;
    font-size: 1.1rem; }
    .wrapper .sidebar-1 .sidebar-content {
      padding: 1rem; }
    .wrapper .sidebar-1 button {
      background-color: #323b44;
      border: none;
      color: #777777;
      font-size: 2rem;
      float: right;
      height: 4rem;
      margin-bottom: 1rem;
      width: 100%;
      transition: all .2s linear; }
      .wrapper .sidebar-1 button:hover {
        box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
        color: white; }
  .wrapper .gallery-link-area-wrapper {
    margin: 0;
    margin-bottom: 1rem; }
    .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link {
      background-color: #ff3d3d;
      box-shadow: 0px 0px 0px 2px white;
      color: white;
      padding-top: 1rem;
      width: 150px;
      transition: background-color .5s linear; }
      .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link button {
        background-color: #ff3d3d;
        border: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 2rem;
        float: right;
        height: 4rem;
        margin-bottom: 1rem;
        width: 100%;
        transition: all .2s linear; }
        .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link button:hover {
          color: #ff3d3d;
          box-shadow: 0px 2px 0px 0px #ff3d3d;
          background-color: #d6d6d6; }
      .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link:hover {
        background-color: #d6d6d6;
        color: #323b44;
        cursor: pointer; }
        .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link:hover button {
          opacity: 2.0; }
      .wrapper .gallery-link-area-wrapper .gallery-links-container .gallery-link div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/assets/1.jpg");
        height: 275px;
        max-height: 100%; }
    .wrapper .gallery-link-area-wrapper .sidebar-2 {
      background-color: #323b44;
      box-shadow: 0px 0px 0px 2px white;
      color: white; }
      .wrapper .gallery-link-area-wrapper .sidebar-2 .sidebar-content {
        padding: 1rem; }
      .wrapper .gallery-link-area-wrapper .sidebar-2 button {
        background-color: #323b44;
        border: none;
        color: #777777;
        font-size: 2rem;
        float: right;
        height: 4rem;
        margin-bottom: 1rem;
        width: 100%;
        transition: all .2s linear; }
        .wrapper .gallery-link-area-wrapper .sidebar-2 button:hover {
          box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
          color: white; }

.nav-wrapper {
  color: black;
  height: 10rem;
  left: 0;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .nav-wrapper .col {
    cursor: pointer; }
    .nav-wrapper .col .showNavIcon {
      font-size: 3rem;
      float: left;
      line-height: 5rem; }

input[type=checkbox] {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  /* For mobile, it's typically better to position checkbox on
      top of clickable  area and turn opacity to 0 instead. */ }

#showNavLabel {
  background-color: #323b44;
  color: white;
  font-size: 5rem;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100001; }
  #showNavLabel .row:hover {
    cursor: pointer; }
    #showNavLabel .row:hover .glyphicon {
      left: -2rem; }
  #showNavLabel .row .header-logo h1 {
    font-size: 1.8rem; }

.glyphicon {
  left: -3rem;
  transition: left .2s; }

.navBar {
  background: #323b44;
  box-shadow: 0px 0px 0px 10px white;
  height: 100%;
  left: -100%;
  position: fixed;
  top: 0;
  width: 50vw;
  max-width: 500px;
  min-width: 208px;
  z-index: 10000;
  transition: left 0.2s; }
  .navBar .col {
    padding-top: 7rem;
    padding-left: 0;
    padding-right: 0; }
    .navBar .col ul {
      line-height: 7rem; }
      .navBar .col ul li {
        box-shadow: 0px 5px 0px 0px white;
        text-align: center;
        transition: background-color 1s; }
        .navBar .col ul li a {
          box-shadow: 0px 0px 0px 0px white;
          color: white;
          font-size: 1.5rem;
          transition: color 3s;
          transition: box-shadow .1s linear; }
          .navBar .col ul li a:hover {
            box-shadow: 0px 2px 0px 0px; }
          .navBar .col ul li a:active {
            box-shadow: 0px 2px 0px 0px;
            background-color: #323b44;
            color: white; }
        .navBar .col ul li:hover {
          background-color: #ff3d3d; }
        .navBar .col ul li a:hover {
          text-decoration: none; }

input[type=checkbox]:checked ~ .nav-wrapper .navBar {
  color: yellow;
  top: 0;
  left: 0;
  z-index: 100000; }

input[type=checkbox]:checked ~ #showNavLabel .glyphicon {
  left: 0; }

.footer {
  background-color: #323b44;
  color: rgba(255, 255, 255, 0.55);
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%; }

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none; }

  .wrapper .normal-nav {
    display: flex; } }
@media only screen and (max-width: 991px) {
  .wrapper .slider-area-wrapper div {
    margin-bottom: 0.5rem; }
  .wrapper .gallery-link-area-wrapper .gallery-links-container {
    margin-bottom: 1rem; } }
@media only screen and (min-width: 992px) {
  .wrapper .slider-area-wrapper {
    height: 500px; } }
@media only screen and (min-width: 1366px) {
  .wrapper {
    max-width: 1300px; }
    .wrapper .normal-nav .normal-nav-container .navbar div ul {
      right: 3rem; } }
@media only screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1800px; } }
@media only screen and (min-width: 2560px) {
  .wrapper {
    max-width: 2300px; } }

/*# sourceMappingURL=styles.css.map */
