@media only screen and (min-width: $breakpoint-phablet) {
  .wrapper {
    .slider-area-wrapper {
      .carousel-item {
        .container {
          .carousel-caption {
            padding-bottom: $standard-seperation;
          }
        }
      }
    }

    .page-header {}

    .page-gallery {
      .row {
        div {
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: $breakpoint-tablet) {
  .mobile-nav {
    display: none;
  }

  .wrapper {
    .normal-nav {
      display: flex;

      .brand {
        .title {
          h1 {
            font-size: $standard-h1-size - 2.1rem;
            padding-top: 1rem;
          }
        }
      }

      .normal-nav-container {
        .navbar {
          div {
            ul {
              li {
                a {
                  //box-shadow: 0 0 0 2px $white;
                  display: table-cell;
                  height: 5rem;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }

    .page-header {
      padding-top: 0;

      .row {
        .main-header {
          padding-top: 2rem;

          h1 {
            font-size: $standard-h1-size - 2rem;
          }
        }
      }
    }

    .categories-wrapper {
      .col {
        .row {
          a {
            box-shadow: 0 0 0 2px white;
            margin-bottom: 0;
            min-height: 300px;
          }
        }
      }
    }
    .sidebar-1{
      .sidebar-content{
        &:hover{
          box-shadow: 0px 2px 0px 0px $white;
        }
      }
    }
    .page-gallery {
      .row {
        div {
          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  .footer {
    padding-bottom: 5rem;
  }
}
//Fixes a small bug where the desired effect isnt made until 993px
@media only screen and(max-width:991px) {
  .wrapper {
    .gallery-link-area-wrapper {
      .gallery-links-container {
        margin-bottom: $standard-seperation;
      }
    }
  }
}
@media only screen and(min-width:992px) {
  .wrapper {
    .normal-nav {
      //height: 46vh;
      .brand {
        .title {
          h1 {
            font-size: $standard-h1-size - 1.6rem;
            padding-top: 3rem;
          }
        }
      }
    }

    .slider-area-wrapper {
      height: 500px;
    }

    .sidebar-1 {
      h2{font-size: $standard-h2-size - 1.5rem;}
      .sidebar-content {
        padding: 0 0 0 0.5rem;
        h3{font-size: $standard-h3-size - .5rem;}
        p{font-size: 1.4rem;}
      }
    }

    .page-header {
      .row {
        .sub-header {
          .row {
            .col {
              span {
                visibility: visible;
              }
            }
          }
        }
      }
    }
    .sidebar-1{
      padding-top: $standard-seperation;
      .row{
        margin: 0;
        .sidebar-content{
          &:hover{
            box-shadow: -2px 0px 0px 0px $white;
          }
        }
      }
    }
    .gallery-link-area-wrapper {
      .gallery-links-container {
        .gallery-header {
          .row {
            .col-4 {
              padding-top: 5rem;
            }
          }
        }
      }
    }

    .sidebar-2 {
      padding-top: 4.3rem;
    }

    .page-gallery {
      .row {
        div {
          .expand-caption {
            background-color: transparent;
            color: $white;
            font-size: 2rem;
            height: 3rem;
            outline: none;

            &:hover {
              cursor: pointer;
            }
          }

          p {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
@media only screen and(min-height:800px) {
  .wrapper {
    .normal-nav {
      //height: 46vh;
    }
  }
}
@media only screen and(min-width:1200px) {
  .wrapper {
    .normal-nav {
      display: flex;

      .normal-nav-container {
        .navbar {
          div {
            ul {
              li {
                a {
                  box-shadow: 0 0 0 0 $white;
                  display: flex;
                  vertical-align: middle;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and(min-width:1366px) {
  .wrapper {
    max-width: 1300px;

    .slider-area-wrapper {
      height: 500px;

      .carousel-item {
        height: 500px;
        max-height: inherit;
      }
    }

    .normal-nav {
      //height: 52vh;
      .normal-nav-container {
        .navbar {
          div {
            ul {
              right: 3rem;
            }
          }
        }
      }
    }

    .categories-wrapper {
      .col {
        .row {
          a {
            box-shadow: 0 0 0 2px white;
            margin-bottom: 0;
            height: 300px;
          }
        }
      }
    }

    .page-gallery {
      .row {
        div {
          p {
            font-size: 1.6rem;
          }
        }
      }
    }

    .sidebar-1 {
      padding-top: 1rem;

      .sidebar-content {
        p {
          font-size: 1.5rem;
        }
      }
    }

    .sidebar-2 {
      padding-top: 5rem;

      .sidebar-content {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media only screen and(min-width:1920px) {
  .wrapper {
    max-width: 1800px;

    .slider-area-wrapper {
      height: 555px;

      .carousel-item {
        height: 555px;
        max-height: inherit;
      }
    }

    .sidebar-1{
      h2{font-size: $standard-h2-size;}
      .sidebar-content{
        h3{font-size: $standard-h3-size;}
        p{font-size: 2rem;}
      }
    }
  }
}
@media only screen and(min-width:2560px) {
  .wrapper {
    max-width: 2300px;

    .slider-area-wrapper {
      height: 740px;

      .carousel-item {
        height: 740px;
        max-height: inherit;
      }
    }
  }
}
@media only screen and(min-width:3199px) {
  .wrapper {
    max-width: 2800px;

    .normal-nav {
      .normal-nav-container {
        .navbar {
          div {
            ul {
              li {
                a {
                  font-size: 3rem;
                }
              }
            }
          }
        }
      }
    }
    .page-header{
        .row{
          //line-height: 6rem;
          .main-header{
            h5{font-size: $standard-h5-size + 2rem; line-height: 6rem;}
            h4{font-size: $standard-h4-size + 2rem; line-height: 6rem;}
            h1{font-size: 5rem;}
          }
          .sub-header{
            div{
              line-height: 8rem;
              h4{
                font-size: $standard-h4-size + 2rem;

              }
              h3{font-size: $standard-h3-size + 2rem;}
            }
            .row{
              .col{
                a{font-size: 3.5rem;}
              }
            }
          }
        }
    }

    .slider-area-wrapper {
      height: 100rem;
      .carousel-item {
        height:100rem;
        .container {
          .carousel-caption {
            height: 15rem;

            h1 {
              font-size: $standard-h1-size;
            }

            p {
              font-size: 3rem;
            }
          }
        }
      }
    }

    .sidebar-1 {
      .sidebar-content {
        padding: 3rem;
        p {
          font-size: 3rem;
        }
      }

      h2 {
        font-size: $standard-h2-size + 2rem;
      }
    }

    .gallery-link-area-wrapper {
      .gallery-links-container {
        .gallery-link {
          h2 {
            font-size: $standard-h2-size + 2rem;
          }

          h4 {
            font-size: $standard-h4-size + 2rem;
          }

          p {
            font-size: 3rem;
          }

          a {
            span {
              font-size: 3rem;
            }
          }
        }
      }
      .sidebar-2 {
        h2 {
          font-size: $standard-h2-size + 2rem;
        }

        .sidebar-content {
          padding: 3rem;

          h3 {
            font-size: $standard-h3-size + 2rem;
          }

          p {
            font-size: 3rem;
          }

          h5 {
            font-size: $standard-h5-size + 2rem;
          }
        }
      }
    }
  .categories-wrapper{
    .col{
      .row{
        a{
          .category-caption{
            h3{
              font-size: $standard-h3-size + 1rem;
            }
            h4{
              font-size: $standard-h4-size + 1rem;
            }
          }
        }
      }
    }
  }
  .page-gallery{
    .row{
      div{
        .click-caption{
          top:88%;
          .toggle-caption{
            span{
              font-size: 3rem;
            }
          }
          .caption-text{
            p{
              font-size: 3rem;
            }
          }
        }
      }
      .text-box{
        p{
          font-size: 2.5rem;
        }
      }
    }
  }
  }
  .footer{
    .row{
      div{
        p{font-size: 4rem;}
      }
    }
  }
  .scroll-to-top-btn{
    font-size: 4rem;
    width: 30rem;
  }
}
