@media only screen and (min-width: $breakpoint-phablet) {
  .wrapper {
    .slider-area-wrapper {
      .carousel-item {
        .container {
          .carousel-caption {
            padding-bottom: $standard-seperation;
          }
        }
      }
    }

    .page-gallery {
      .row {
        div {
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: $breakpoint-tablet) {
  .mobile-nav {
    display: none;
  }

  .wrapper {
    .normal-nav {
      display: flex;
      .normal-nav-container{
        .navbar{
          div{
            ul{
              li{
                a{
                  box-shadow: 0px 0px 0px 2px $white;
                  display: table-cell;
                  height: 5rem;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }

    .page-header {
      padding-top: 0;

      .row {
        h1 {
          font-size: 5rem;
        }
      }
    }

    .page-gallery {
      .row {
        div {
          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
//Fixes a small bug where the desired effect isnt made until 993px
@media only screen and(max-width:991px) {
  .wrapper {
    .gallery-link-area-wrapper {
      .gallery-links-container {
        margin-bottom: $standard-seperation;
      }
    }
  }
}
@media only screen and(min-width:992px) {
  .wrapper {
    .normal-nav {
      //height: 46vh;
    }

    .slider-area-wrapper {
      height: 500px;
    }

    .page-header {
      .row {
        .gallery-sub-header {
          .row {
            .col {
              span {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .page-gallery {
      .row {
        div {


          .expand-caption{
            background-color: transparent;
            color: $white;
            font-size:2rem;
            height: 3rem;
            outline: none;

            &:hover{cursor: pointer;}
          }



          p {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
@media only screen and(min-height:800px) {
  .wrapper {
    .normal-nav {
      //height: 46vh;
    }
  }
}
@media only screen and(min-width:1200px) {
.wrapper{
  .normal-nav {
    display: flex;
    .normal-nav-container{
      .navbar{
        div{
          ul{
            li{
              a{
                box-shadow: 0px 0px 0px 0px $white;
                display: flex;
                vertical-align: middle;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
}

@media only screen and(min-width:1366px) {
  .wrapper {
    max-width: 1300px;

    .normal-nav {
      //height: 52vh;
      .normal-nav-container {
        .navbar {
          div {
            ul {
              right: 3rem;
            }
          }
        }
      }
    }

    .page-gallery {
      .row {
        div {
          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
@media only screen and(min-width:1920px) {
  .wrapper {
    max-width: 1800px;
  }
}
@media only screen and(min-width:2560px) {
  .wrapper {
    max-width: 2300px;
  }
}
