@mixin header-styles {
  background-color: $navbar-background;
  bottom: 0;
  min-height: 100px;
  position: absolute;
  width: 100%;
}



@mixin default-nav-link-styles {

  a{

    box-shadow: 0px 0px 0px 0px $white;
    color:$white;
    font-size: 1.5rem;
    transition: color 3s;
    transition: box-shadow .1s linear;
    &:hover {
      box-shadow: 0px 2px 0px 0px;
    }
    &:active{
      box-shadow: 0px 2px 0px 0px;
      background-color: $standard-grey;
      color:$white;
    }
  }

}

@mixin toggle-mobile-nav {
  .row{
    &:hover{
      cursor: pointer;
      .glyphicon{left: -2rem;}
    }
    .header-logo{
      h1{
        font-size: 1.8rem;
        text-align: right;
        padding-right: 1rem;
      }
    }
  }
}

@mixin background-image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin background-image-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin sidebar-button-standard {
  span{
    background-color: $standard-grey;
    border: none;
    color: #777777;
    font-size: 4rem;
    float: right;
    height: 4rem;
    margin-bottom: $standard-seperation;
    text-align: center;
    width: 100%;

   transition: all .2s linear;
    &:hover{
      //background-color: $white;
      box-shadow: $standard-box-shadow-bottom;
      color:$white;
    }
}
}

@mixin side-bar-text-settings {
  cursor: pointer;
  padding: 1rem;
  transition: box-shadow 0.5s;
  p{
    color:rgba(255, 255, 255, 0.55);
  }
  &:hover{
  box-shadow: -2px 0px 0px 0px $white;
  }

  &:active{
    background-color: $white;
    color:$standard-grey;
  }
}

@mixin gallery-button-standard {
  span{
    background-color: $pink;
    border: none;
    color: rgba(255,255,255,0.5);
    font-size: 2rem;
    float: right;
    height: 4rem;
    margin-bottom: $standard-seperation;
    //opacity: 0.5;
    width: 100%;

   transition: all .2s linear;
    &:hover{
      color: $pink;
      box-shadow: 0px 2px 0px 0px $pink;
      background-color: #d6d6d6;
      //opacity: 2.0;
    }
  }
}
