$breakpoint-tablet: 768px;




$white: white;
$standard-grey: #323b44;
$orange: #ffc522;
$pink: #ff2222e0;


//Design Elements
  //Used to seperate each section of the website
  //Should be used with margin-bottom
  $standard-seperation: 1rem;

  //header
  $navbar-background: rgba(0, 0, 0, 0.5);


  //Gallery
  $gallery-border:2px solid $white;
