@import "_mixins.scss";
@import "_variables.scss";


.wrapper{
  .categories-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    .col{
      .row{
      //@include default-nav-link-styles;
        a{
          @include background-image-cover;
          background-image: url("/assets/1.jpg");
          display: table;
          margin-bottom: $standard-seperation;
          min-height: 150px;
          padding: 0;
          //transition: all 1s;
          //width: 100%;
          &:hover{
            //box-shadow: 0px 0px 5px 0px black;
            text-decoration: none;
            h3{padding-left: 2rem !important;}
          }


          .category-caption{
            //background-color: red;
            display: table-cell;
            vertical-align: bottom;
            h3, h4{
              //background-color: rgba(0, 0, 0, 0.5);
              background-color: $pink;
              color: $white;
              display: table-cell;
              //font-size: 3rem;
              height: 4rem;
              margin: 0;
              padding-left: $standard-seperation;
              padding-right: $standard-seperation;
              vertical-align: middle;

            }

            h4{
              box-shadow:-2px 0px 0px 0px $white;
              //float: left;
            }

          }
        }
        .category-1-box{
          background-image: url("/assets/category-page/scirocco-1.jpg");
        }
        .category-2-box{
          background-image: url("/assets/category-page/focus.jpg");
        }
        .category-3-box{
          background-image: url("/assets/category-page/exotic-spotting.jpg");
        }
        .category-4-box{
          background-image: url("/assets/category-page/misc.jpg");
        }
      }
    }
  }
}















@import "_media-queries.scss";
