@import "_mixins.scss";
@import "_variables.scss"; //Fonts
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway'); //*{border: 1px solid black;}

body {
  //background-color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway",sans-serif;
}

a,
p {
  font-family: "Lato", sans-serif;
}

.wrapper {
  background-color: $white;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  .normal-nav {
    @include background-image-contain;
    background-image: url("/assets/header.jpg");
    background-position: bottom;
    display: none;
    height: 40vh;
    margin: 0;
    margin-bottom: $standard-seperation;

    .brand {
      padding: 0;

      .title {
        @include header-styles;
        margin: 0;

        h1 {
          color: $white;
          margin: 0;
          padding: 3rem 0 0 3rem;
          position: absolute;
        }
      }
    }

    .normal-nav-container {
      padding-top: 3.5rem;

      .navbar {
        @include header-styles;
        right: 0;

        div {
          ul {
            position: absolute;
            //right: 0;
            li {
              padding-left: 1.5rem;
              @include default-nav-link-styles;
            }
          }
        }
      }
    }
  }

  .slider-area-wrapper {
    //height: 500px;
    margin: 0;
    margin-bottom: $standard-seperation;


    .slider {
      padding: 0;

      .col {
        padding: 0;
      }

      .glyphicon {
        position: absolute;
        bottom: 30px;
        top: auto;
      }
    }

    .carousel-indicators {
      display: none;
    }

    .carousel-item {
      @include background-image-cover;
      height: 100vh;
      min-height: 400px;
      max-height: 500px;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;

      .container {
        .carousel-caption {
          background-color: rgba(0,0,0,0.5);
          border-bottom: none;
          bottom: 0;
          box-shadow: $standard-box-shadow-bottom;
          left: 0;
          margin-bottom: 0;
          padding-bottom: 7rem;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0;
          right: 0;

          h1{
          //  float: left;
          //  padding: $standard-seperation;
          //background-color: red;
          font-size: 2rem;
          margin-bottom: 0;
          margin-top: 0;
          min-height: 70px;
          padding-top: 2rem;
          text-align: center;

          }
          p{
            //background-color: blue;
            height: 70px;
            margin-bottom: 0;
            min-width: 230px;
            padding-top: 1.5rem;
          }

          .caption-button {
            //background-color: red;
            border-top: 1px solid white;
            text-align: right;
            float: right;
            width: 150px;

            a {
              color: $white;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .slider-image-1 {
      background-image: url("/assets/1.jpg");
    }

    .slider-image-2 {
      background-image: url("/assets/1.jpg");
    }

    .slider-image-3 {
      background-image: url("/assets/1.jpg");
    }
  }

  .sidebar-1 {
    background-color: $standard-grey;
    box-shadow: $standard-box-shadow-left;
    color:$white;
    font-size: 1.1rem;

    .sidebar-content {
      padding: 1rem;
    }
    @include sidebar-button-standard;
  }
/////////////////////// GALLERY /////////////////////////////////
  .gallery-link-area-wrapper {
    margin: 0;
    margin-bottom: $standard-seperation;

    .gallery-links-container {
      .gallery-link {
        @include gallery-button-standard;
        background-color: $pink;
        //border-left:$gallery-border;
        box-shadow: 0px 0px 0px 2px $white;
        color:$white;
        //padding-left: 0;
        padding-top: $standard-seperation;
        width: 150px;
        //height: 150px;

        transition: background-color .5s linear;
        &:hover{
          background-color: #d6d6d6;
          color: $standard-grey;
          cursor: pointer;
          button{
            //box-shadow: $standard-box-shadow-bottom;
            opacity: 2.0;
          }
        }

        div{
          @include background-image-contain;
          background-image: url("/assets/1.jpg");
          height: 275px;
          max-height: 100%;
        }
      }


    }

    .sidebar-2 {
      background-color: $standard-grey;
      //border-left: $gallery-border;
      box-shadow: $standard-box-shadow-left;
      color: $white;

      .sidebar-content {
        padding: 1rem;
      }
      @include sidebar-button-standard;
    }
  }
}
//Mobile Nav
.nav-wrapper {
  color: black;
  height: 10rem;
  left: 0;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .col {
    cursor: pointer;

    .showNavIcon {
      font-size: 3rem;
      float: left;
      line-height: 5rem;
    }
  }
}

input[type=checkbox] {
  //height: 200px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  //z-index: 100000;
  /* For mobile, it's typically better to position checkbox on
      top of clickable  area and turn opacity to 0 instead. */
}

#showNavLabel {
  background-color: $standard-grey;
  color: $white;
  font-size: 5rem;
  //height: 100px;
  left: 0;
  padding: 10px;
  position: fixed;
  //min-width: 208px;
  width: 100%;
  z-index: 100001;

  @include toggle-mobile-nav;
}
.glyphicon{
  left: -3rem;
  transition: left .2s;
}

.navBar {
  background: $standard-grey;
  box-shadow: 0px 0px 0px 10px $white;
  height: 100%;
  left: -100%;
  //line-height: 100px;
  position: fixed;
  top: 0;
  width: 50vw;
  max-width: 500px;
  min-width: 208px;
  z-index: 10000;

  //transition: left 1s;
  transition: left 0.2s;

    .col{
      padding-top: 7rem;
      padding-left: 0;
      padding-right: 0;
      ul{
        line-height: 7rem;
        li{
          @include default-nav-link-styles;
          box-shadow: 0px 5px 0px 0px $white;
          text-align: center;
          transition: background-color 1s;
          &:hover{
            background-color: $pink;
          }
          a:hover{text-decoration: none;}
        }
      }
    }
}

input[type=checkbox]:checked ~ .nav-wrapper .navBar {

  color: yellow;
  top: 0;
  left: 0;
  z-index: 100000;
}

input[type=checkbox]:checked ~ #showNavLabel {
  //color:$pink;
  //opacity: 2.0;
  //z-index: 0;
  .glyphicon{left: 0}
  .col {
    //background-color: green;
  }
}

////////////// FOOTER /////////////////////
.footer{
  background-color: $standard-grey;
  color: rgba(255, 255, 255, 0.55);
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}






//Media Queries
@import "_media-queries.scss";
